openapi: 3.0.3
info:
  title: Amazon Resilience Hub Applications API
  description: AWS Resilience Hub provides a central place to define, validate, and track the resilience of your AWS applications, assessing against RTO and RPO targets and providing actionable recommendations.
  version: '2020-04-30'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/contact-us/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
servers:
- url: https://resiliencehub.amazonaws.com
  description: Amazon Resilience Hub API endpoint
tags:
- name: Applications
  description: Create and manage Resilience Hub applications.
paths:
  /create-app:
    post:
      operationId: createApp
      summary: Amazon Resilience Hub Create App
      description: Creates an AWS Resilience Hub application. A Resilience Hub application is a collection of AWS resources structured to prevent and recover AWS application disruptions.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
            examples:
              createAppRequest:
                summary: Default createApp request
                x-microcks-default: true
                value:
                  name: my-resilient-app
                  description: My application for resilience testing
                  policyArn: arn:aws:resiliencehub:us-east-1:123456789012:resiliency-policy/abc123
      responses:
        '200':
          description: Application created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAppResponse'
              examples:
                createApp200:
                  summary: Default createApp 200 response
                  x-microcks-default: true
                  value:
                    app:
                      appArn: arn:aws:resiliencehub:us-east-1:123456789012:app/my-resilient-app
                      name: my-resilient-app
                      complianceStatus: NotAssessed
                      creationTime: '2026-04-19T14:30:00Z'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /describe-app:
    post:
      operationId: describeApp
      summary: Amazon Resilience Hub Describe App
      description: Describes an AWS Resilience Hub application.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppArnRequest'
            examples:
              describeAppRequest:
                summary: Default describeApp request
                x-microcks-default: true
                value:
                  appArn: arn:aws:resiliencehub:us-east-1:123456789012:app/my-app
      responses:
        '200':
          description: Application description retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAppResponse'
              examples:
                describeApp200:
                  summary: Default describeApp 200 response
                  x-microcks-default: true
                  value:
                    app:
                      appArn: arn:aws:resiliencehub:us-east-1:123456789012:app/my-app
                      name: my-app
                      complianceStatus: PolicyBreached
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /list-apps:
    get:
      operationId: listApps
      summary: Amazon Resilience Hub List Apps
      description: Lists your Resilience Hub applications.
      tags:
      - Applications
      parameters:
      - name: appArn
        in: query
        schema:
          type: string
        description: The Amazon Resource Name (ARN) of the app.
      - name: maxResults
        in: query
        schema:
          type: integer
        description: Maximum number of results to include in the response.
        example: 20
      - name: nextToken
        in: query
        schema:
          type: string
        description: Null, or the token from a previous call to get the next set of results.
      - name: name
        in: query
        schema:
          type: string
        description: The name for the one of the listed applications.
      responses:
        '200':
          description: Applications listed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponse'
              examples:
                listApps200:
                  summary: Default listApps 200 response
                  x-microcks-default: true
                  value:
                    appSummaries: []
                    nextToken: null
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /delete-app:
    delete:
      operationId: deleteApp
      summary: Amazon Resilience Hub Delete App
      description: Deletes an AWS Resilience Hub application. This is a destructive action that cannot be undone.
      tags:
      - Applications
      parameters:
      - name: appArn
        in: query
        required: true
        schema:
          type: string
        description: The Amazon Resource Name (ARN) of the application.
      - name: forceDelete
        in: query
        schema:
          type: boolean
        description: A boolean option to override the failure when deleting an unprotected app.
      responses:
        '200':
          description: Application deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAppResponse'
              examples:
                deleteApp200:
                  summary: Default deleteApp 200 response
                  x-microcks-default: true
                  value:
                    appArn: arn:aws:resiliencehub:us-east-1:123456789012:app/my-app
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /publish-app-version:
    post:
      operationId: publishAppVersion
      summary: Amazon Resilience Hub Publish App Version
      description: Publishes a new version of a specific Resilience Hub application.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppArnRequest'
            examples:
              publishAppVersionRequest:
                summary: Default publishAppVersion request
                x-microcks-default: true
                value:
                  appArn: arn:aws:resiliencehub:us-east-1:123456789012:app/my-app
      responses:
        '200':
          description: App version published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishAppVersionResponse'
              examples:
                publishAppVersion200:
                  summary: Default publishAppVersion 200 response
                  x-microcks-default: true
                  value:
                    appArn: arn:aws:resiliencehub:us-east-1:123456789012:app/my-app
                    appVersion: '1'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /list-app-versions:
    get:
      operationId: listAppVersions
      summary: Amazon Resilience Hub List App Versions
      description: Lists the different versions for the Resilience Hub applications.
      tags:
      - Applications
      parameters:
      - name: appArn
        in: query
        required: true
        schema:
          type: string
        description: The Amazon Resource Name (ARN) of the application.
      - name: maxResults
        in: query
        schema:
          type: integer
        example: 20
      - name: nextToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: App versions listed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppVersionsResponse'
              examples:
                listAppVersions200:
                  summary: Default listAppVersions 200 response
                  x-microcks-default: true
                  value:
                    appVersions: []
                    nextToken: null
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PublishAppVersionResponse:
      type: object
      properties:
        appArn:
          type: string
        appVersion:
          type: string
        identifier:
          type: integer
    ListAppsResponse:
      type: object
      properties:
        appSummaries:
          type: array
          description: The summaries for the Resilience Hub application.
          items:
            $ref: '#/components/schemas/App'
        nextToken:
          type: string
    ListAppVersionsResponse:
      type: object
      properties:
        appVersions:
          type: array
          items:
            type: object
            properties:
              appVersion:
                type: string
              identifier:
                type: integer
              creationTime:
                type: string
                format: date-time
        nextToken:
          type: string
    DescribeAppResponse:
      type: object
      properties:
        app:
          $ref: '#/components/schemas/App'
    ErrorResponse:
      type: object
      description: Standard error response from Amazon Resilience Hub.
      properties:
        message:
          type: string
          description: Error message.
          example: An error occurred.
        code:
          type: string
          description: Error code.
    DeleteAppResponse:
      type: object
      properties:
        appArn:
          type: string
    AppArnRequest:
      type: object
      required:
      - appArn
      description: Request containing an application ARN.
      properties:
        appArn:
          type: string
          description: The Amazon Resource Name (ARN) of the application.
          example: arn:aws:resiliencehub:us-east-1:123456789012:app/my-app
    App:
      type: object
      description: Defines an AWS Resilience Hub application.
      properties:
        appArn:
          type: string
          description: The Amazon Resource Name (ARN) of the application.
          example: arn:aws:resiliencehub:us-east-1:123456789012:app/my-app
        name:
          type: string
          description: The name for the application.
          example: my-resilient-app
        description:
          type: string
          description: The optional description for an app.
        policyArn:
          type: string
          description: The Amazon Resource Name (ARN) of the resiliency policy.
        creationTime:
          type: string
          format: date-time
        complianceStatus:
          type: string
          enum:
          - PolicyBreached
          - PolicyMet
          - NotAssessed
          - ChangesDetected
        lastAppComplianceEvaluationTime:
          type: string
          format: date-time
        resiliencyScore:
          type: number
          format: float
        tags:
          type: object
          additionalProperties:
            type: string
        assessmentSchedule:
          type: string
          enum:
          - Disabled
          - Daily
    CreateAppResponse:
      type: object
      description: Response from creating an application.
      properties:
        app:
          $ref: '#/components/schemas/App'
    CreateAppRequest:
      type: object
      required:
      - name
      description: Request to create an AWS Resilience Hub application.
      properties:
        name:
          type: string
          description: The name for the application.
          example: my-resilient-app
        description:
          type: string
          description: The optional description for an app.
        policyArn:
          type: string
          description: The Amazon Resource Name (ARN) of the resiliency policy.
        tags:
          type: object
          additionalProperties:
            type: string
        assessmentSchedule:
          type: string
          enum:
          - Disabled
          - Daily
        clientToken:
          type: string
  securitySchemes:
    aws_signature:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication.
